
@{
    ViewBag.Title = "Password Reset Fail";
}

<h2>Password Reset Success</h2>

<p>A temporary account password is on its way! Click the link in the email's body to reset your password.</p>
<br />



