
@{
    ViewBag.Title = "Password Reset Fail";
}

<h2>Password Reset Fail</h2>

<p>It looks like the username you entered was not correct. Please try again or register an account @Html.ActionLink("here", "Register", "Account")</p>

