@model SecurityProj2.Models.PasswordRecovery

@{
    ViewBag.Title = "Request";
}
<br />
<div class="row">
    <h2>Password reset complete!</h2>
        <p> 
              
        </p>
        <div class="editor-field"> 
             <p>Your temporary password is <h2>@Html.DisplayFor(model => model.TempPassword)</h2>.</p> 
             <p>To change your password click @Html.ActionLink("Here", "Manage", "Account") </p>
        </div>
</div>