@{
    ViewBag.Title = "Home Page";
}

<h3>How it works...</h3>
<ol class="round">
    <li class="one">
        <h5>Register/Log in</h5>
        Securely login to the application and
        generate a new password or recall a password that you have already generated
        @Html.ActionLink("Register Here!", "Register", "Account")
    </li>

    <li class="two">
        <h5>Manager Your Passwords</h5>
       Add and delete passwords as you please. 
    </li>

    <li class="three">
        <h5>Never Forget Your Password Again!</h5>
        <br />
    </li>
</ol>
